<h1 class="is-size-4 mb-3 has-text-grey is-flex is-justify-content-center has-text-weight-bold">Transaction Details</h1>

<div class="container" style="width: 90%;">
<p class="is-size-5 is-italic has-text-centered my-3 has-text-weight-bold has-text-grey"><%= @group.name %></p>
<p class="is-italic mb-2">Total amount of item(s): <span class="has-text-success has-text-weight-bold"><%= number_to_currency(@entity.sum(:amount)) %></span></p>
  <% if @entity.present? %>
    <% @entity.each do |entity| %> 
      <div class="box">
        <div class="is-flex is-justify-content-space-between">
          <p class="has-text-weight-bold has-text-grey"><%= entity.name %></p>
          <p class="has-text-grey"><%= number_to_currency(entity.amount, precision: 2) %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p><%= current_user.name %>, you have not made any transaction for this Category</p>
  <% end %>
</div>